// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~dropzone/dist/min/dropzone.min.css';

.navbar {
    .nav-link {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

.toast-container {
    position: absolute;
    min-width: 400px;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
    display: flex;
    align-items: center; // does vertically center the desired content
    justify-content: center; // horizontally centers single line items
    text-align: center;
    .thumb-delete {
        position: absolute;
        display: none;

    }
    &:hover {
        .thumb-delete {
            display: block;
        }
    }
}
